[Unit]
Description=djazz service
Requires=cronie.service

[Service]
Type=simple
ExecStartPre=mkdir -p /var/log/djazz
ExecStart=/usr/bin/python -m djazz

[Install]
WantedBy=multi-user.target
